* {
    box-sizing: border-box;
}
.body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.col-xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-main-hero {
        flex-wrap: wrap;
    }
    .about-main-hero-info {
        margin-top: 30px;
    }
    .about-main-hero-button {
        width: 200px;
    }
    .button {
        width: 100px;
    }
    .author-pic-name {
        flex-direction: column;
    }
    .author-icons, .icons {
        flex-wrap: wrap;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-main-hero-info {
        margin-top: 0;
    }
    .about-main-hero-button, .button {
        width: 160px;
    }
    .author-pic-name {
        flex-direction: row;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-main-hero-info {
        margin: 50px 0;
    }
    .about-main-hero-button, .button {
        width: 200px;
    }
    .author-pic-name {
        flex-direction: row;
    }
}

@media(max-width:767px) {
    .header-row {
        height: 60px;
        line-height: 65px;
    }
    .menu-mobile-burger {
        width: 20px;
        height: 20px;
        position: relative;
        top: 21px;
    }
    .menu-mobile-burger span {
        height: 2px;
        background-color: #666666;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
        text-align: right;
    }
    .menu-mobile-burger span:nth-child(1) {
        top: 3px;
    }
    .menu-mobile-burger span:nth-child(2) {
        top: 9px;
    }
    .menu-mobile-burger span:nth-child(3) {
        bottom: 3px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        max-height: 360px;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .menu-mobile-burger.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .menu-mobile-burger.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 5px 60px;
        border: 2px solid #E4E4E4;
        top: 32px;
        flex-direction: column;
    }
    .navigation.active-menu > .submenu {
        text-align: center;
    }
    .about-main-hero {
        flex-wrap: wrap;
    }
    .about-main-hero-info {
        margin-top: 30px;
    }
    .about-main-hero-button, .button {
        width: 200px;
    }
    .main-row-9-3-cols {
        flex-wrap: wrap;
    }
    .article-items {
        flex-wrap: wrap;
    }
    .article-item {
        margin-bottom: 30px;
    }
    .article-item-picture {
        text-align: center;
    }
}



/* Header */

.header {
    max-height: 90px;
    line-height: 90px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E4E4E4;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-row {
    display: flex;
}
.logo {
    margin: 5px 0 0 15px;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin-top: 28px;
    background-color: #FFFFFF;
}
.submenu {
    padding: 0 12px;
    border: 2px solid #666666;
    border-radius: 5px;
    height: 30px;
    line-height: 25px;
    cursor: pointer;
}
.submenu:hover {
    border: 2px solid #666666;
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 5px;
}



/* Main */

/* About main hero */

.about-main-hero {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}
.about-main-hero-picture img {
    max-width: 100%;
}
.about-main-hero-info-head {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #171717;
    margin-bottom: 10px;
}
.about-main-hero-info-body, .category {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}
.about-main-hero-info-body h4, .category {
    font-size: 16px;
    line-height: 26px;
    color: #171717;
    margin-bottom: 15px;
}
.about-main-hero-info-body p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 10px;
}
.about-main-hero-info-body h6 {
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 20px;
}
.category p {
    text-align: right;
    margin-right: 5px;
}
.category p a {
    text-decoration: none;
    color: #171717;
    font-weight: 700;
}
.about-main-hero-button {
    max-width: 200px;
    height: 50px;
    background-color: #171717;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    outline: none;
}
.about-main-hero-button:hover {
    background-color: #FFFFFF;
    color: #171717;
    border: 2px solid #171717;
}



/* Articles - row 9 columns */

.main-row-9-3-cols {
    display: flex;
    margin: 30px 0;
}
.article-items {
    display: flex;
}
.article-item {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}
.article-item-picture img {
    max-width: 100%;
}
.article-item-body {
    padding: 25px 20px 30px;
}
.article-item-text {
    font-family: 'Mulish', sans-serif;
}
.article-item-text h3 {
    letter-spacing: 1.5px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #171717;
    margin-bottom: 10px;
}
.article-item-text h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #171717;
    margin-bottom: 15px;
}
.article-item-text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 10px;
}
.article-item-text h6 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 15px;
}
.button {
    max-width: 200px;
    height: 50px;
    background-color: #171717;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    outline: none;
}
.button:hover {
    background-color: #FFFFFF;
    color: #171717;
    border: 2px solid #171717;
}



/* Sidebar - row 3 columns */

.sidebar-author {
    padding: 30px 15px 35px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}
.author-pic-name {
    display: flex;
}
.author-pic img {
    border-radius: 50%;
}
.author-name {
    margin: 20px 0 0 15px;
    font-family: 'Mulish', sans-serif;
}
.author-name h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #171717;
    margin-bottom: 10px;
}
.author-name h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #999999;
}
.author-hi-words {
    padding: 25px 0 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #666666;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}
.author-icons, .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-on {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}
.icons a {
    height: 34px;
    margin-left: 6px;
    margin-top: 10px;
    text-decoration: none;
}